.JsxCarousel {
    width: 100%;
    height: 100%;
}

.JsxCarousel__wrapper {
    height: 80%;
}

.JsxCarousel__slider {
    white-space: nowrap;
}

.JsxCarousel__slider__active, .JsxCarousel__slider__slides {
    display: inline-block;
}

.JsxCarousel__Slide {
    display: inline-block;
    width: 600px;
    height: 400px;
}

.JsxCarousel__thumbnails {
    height: 20%;
}

.JsxCarousel__thumbnails li {
    display: inline-block;
}

.JsxCarousel__thumbnails__thumbnail {
    height: 150px;
    width: 100px;
}

.JsxCarousel__thumbnails__thumbnail {
    height: 150px;
    width: 100px;
}

.JsxCarousel__thumbnails__thumbnail div {
    height: 100%;
    width: 100%;
}

.JsxCarousel__thumbnails__thumbnail.active div {
    border: 1px solid red;
}