.section-winners {
  padding: 80px 0 0;
}
.container {
    width: 71%;
    margin: 0 auto;
}
.indent {
    margin-left: 11.5%;
}
.container-large {
  width: calc(71% + 140px);
  padding-left: 70px;
  margin: 0 auto;
  position: relative;
}
.grid {
    display: flex;
}
.grid .grid-3-5 {
    flex-grow: 1;
    flex-basis: 60%;
}
.grid .grid-2-5 {
    flex-grow: 1;
    flex-basis: 50%;
}

.JsxCarousel__slide-container {
  width: calc(100% - 110px);
  margin: 0 40px 0 0;
}
.JsxCarousel__slider {
  font-size: 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.JsxCarousel__slider__active, .JsxCarousel__slider__slides {
  display: inline-block;
}
.JsxCarousel__slider__prev {
  position: absolute;
  left: 0;
  top: 0;
}
.JsxCarousel__Slide {
  display: inline-block;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
  background-size: cover;
}

.JsxCarousel__description {
  margin-top: 25px;
  margin-bottom: 30px;
}
.JsxCarousel__description-title {
    color: #979797;
    font-size: 23px;
    float: left;
    margin-right: 45px;
}
.JsxCarousel__description-name {
    color: #8063F9;
    font-size: 23px;
}
.JsxCarousel__description-desc {
    margin-top: 20px;
    min-height: 107px;
    max-width: 340px;
}
.JsxCarousel__description-app {
    position: relative;
}
.JsxCarousel__description-app .JsxCarousel__description-title {
  position: absolute;
  right: 100%;
}

.JsxCarousel__thumbnails ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.JsxCarousel__thumbnail {
    width: calc(20% - 32px);
}     
.JsxCarousel__thumbnail-img {
  width: 100%;
  background-size: cover;
  height:0;
  padding-bottom: 51%;
  position: relative;
}
.JsxCarousel__thumbnail-img:after {
    content: '';
    background-color: #8063F9;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.JsxCarousel__thumbnail-text {
  margin-top: 15px;
}
.JsxCarousel__thumbnail.active .JsxCarousel__thumbnail-img:after {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.JsxCarousel__thumbnail.active .JsxCarousel__thumbnail-text {
    color: #8063F9;
}   
